name: Build and attest with maven

on:
  workflow_call:
    secrets:
      MMIO_GPG_KEY:
        required: true
      MMIO_GPG_PASSPHRASE:
        required: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      attestations: write
      artifact-metadata: write
    outputs:
      artifact-names: ${{ steps.artifacts.outputs.artifacts }}
      artifact-id: ${{ steps.upload.outputs.artifact-id }}

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
    - name: Set up JDK 21
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        gpg-private-key: ${{ secrets.MMIO_GPG_KEY }}
        gpg-passphrase: MMIO_GPG_PASSPHRASE
    - name: Build with Maven
      env:
        MAVEN_GPG_PASSPHRASE: ${{ secrets.MMIO_GPG_PASSPHRASE }}
      run: mvn clean deploy spdx:createSPDX -Dproject.build.outputTimestamp=`date -u +"%FT%TZ"` -Dbuildinfo.ignoreJavadoc=false artifact:buildinfo --file pom.xml
    - name: Archive deployables
      id: upload
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: maven-deployable-repo
        path: /tmp/maven-repo/
    - name: Add asset to release
      if: ${{ github.event_name == 'release' }}
      run: zip -r /tmp/maven-deployable-repo.zip /tmp/maven-repo/ && gh release upload "${{ github.ref_name }}" /tmp/maven-deployable-repo.zip
    - name: Extract artifact names
      id: artifacts
      run: echo artifacts=$(cat `find target/ -name \*.buildinfo` | grep '^outputs.*\.filename' | sed 's/.*=//' | jq -Rnc '[inputs]') >> "$GITHUB_OUTPUT"

  attest:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
      id-token: write
      attestations: write
      artifact-metadata: write
    strategy:
      matrix:
        artifact: ${{ fromJSON(needs.build.outputs.artifact-names) }}

    steps:
      - name: Download build repo
        id: repo-download
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          artifact-ids: ${{ needs.build.outputs.artifact-id }}
      - name: Find the artifact
        id: find-artifact
        run: echo path=$(find . -name ${{ matrix.artifact }}) >> "$GITHUB_OUTPUT"
      - name: Upload the artifact
        id: upload-artifact
        if: ${{ steps.find-artifact.outputs.path != null && steps.find-artifact.outputs.path != '' }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: ${{ matrix.artifact }}
          path: ${{ steps.find-artifact.outputs.path }}
      - name: Create attestation
        id: create-attestation
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f
        if: ${{ steps.upload-artifact.outcome == 'success' }}
        with:
          subject-path: ${{ steps.find-artifact.outputs.path }}
          subject-name: ${{ matrix.artifact }}
          push-to-registry: false
      - name: Find related SBOM
        id: find-sbom
        if: ${{ steps.upload-artifact.outcome == 'success' && ! endsWith(steps.find-artifact.outputs.path, '.spdx.json') }}
        run: echo sbom-path=$(find `dirname -- ${{ steps.find-artifact.outputs.path }}` -name \*.spdx.json) >> "$GITHUB_OUTPUT"
      - name: Add SBOM attestation
        id: sbom-attestation
        if: ${{ steps.find-sbom.outputs.sbom-path != null && steps.find-sbom.outputs.sbom-path != '' }}
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34
        with:
          subject-path: ${{ steps.find-artifact.outputs.path }}
          sbom-path: ${{ steps.find-sbom.outputs.sbom-path }}
          push-to-registry: false
      - name: Upload release asset
        if: ${{ github.event_name == 'release' && steps.upload-artifact.outcome == 'success' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload "${{ github.ref_name }}" ${{ steps.find-artifact.outputs.path }}
      - name: Upload SBOM release asset
        if: ${{ github.event_name == 'release' && steps.sbom-attestation.outcome == 'success' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload "${{ github.ref_name }}" ${{ steps.find-sbom.outputs.sbom-path }}
