name: Release assets

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  release-assets:
    permissions:
      contents: write
      id-token: write
      attestations: write
      artifact-metadata: write
    uses: mishmash-io/github-workflows/.github/workflows/maven_build_with_provenance.yml@af07d4fdb0d874ea37bfbeb7cf27dfde095cb357
    secrets: inherit
    with:
      java-version: 21
