name: Release assets

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  release-assets:
    permissions:
      contents: write
      id-token: write
      attestations: write
      artifact-metadata: write
    uses: mishmash-io/github-workflows/.github/workflows/maven_build_with_provenance.yml@3b712afb07f3064d8d5deb747e42adb5c7b6239a
    secrets: inherit
    with:
      java-version: 21
